<div class="navbar">

<div class="logo">TruthX Detector</div>

<div class="menu">
<a href="/dashboard">Dashboard</a>
<a href="/analyzer">Analyzer</a>
<a href="/image_detector">Image Detector</a>
<a href="/tools">Tools</a>
<a href="/settings">Settings</a>
<a href="/profile">Profile</a>
<a href="/logout">Logout</a>
</div>

</div>

<style>

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#0f2027;
color:white;
}

.menu a{
margin-left:15px;
text-decoration:none;
color:white;
font-weight:bold;
}

.menu a:hover{
color:#00c6ff;
}

</style>